@model ExploreMidwest.Web.Models.BlogVM

@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="row">
    @using (Html.BeginForm("EditBlog", "Manager", FormMethod.Post, new
    { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(m => m.ImageLocation)
        @Html.HiddenFor(m => m.BlogId)
        @Html.HiddenFor(m => m.Author)
        @Html.HiddenFor(m => m.ImageLocation)
        <div class="col-xs-offset-1 col-xs-2 divMain">
            <h4>Blog Category Name</h4>
            <div>
                <select class="form-control" data-val="true" data-val-number="The field CategoryId must be a number." data-val-required="The CategoryId field is required." id="Category_CategoryId" name="BlogCategory.CategoryId">
                    <option value="">-choose category-</option>
                    @for (int i = 0; i < Model.CategoryItems.Count; i++)
                    {
                        if (Model.CategoryItems[i].Value == Model.BlogCategory.CategoryId.ToString())
                        {
                            <option selected value=@Model.CategoryItems[i].Value>@Model.CategoryItems[i].Text</option>
                        }
                        else
                        {
                            <option value=@Model.CategoryItems[i].Value>@Model.CategoryItems[i].Text</option>
                        }
                    }
                    <option value="0" id="searchCategory">New Category</option>
                </select>
                @Html.ValidationMessageFor(m => m.CategoryItems)
            </div>
            <div class="control" id="newCategory">
                <h5>New Category</h5>
                <input type="text" name="NewCategory" />
            </div>
        </div>
        <div class="col-xs-offset-1 col-xs-10 divMain">
            <h4>Blog Subject Name</h4>
            <div class="form-group" style="font-size: 14pt">


                @Html.TextBoxFor(t => t.Title, new { @class = "form-group" })
                @Html.ValidationMessageFor(t => t.Title)
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 control">
                <h4>Blog Content</h4>
                @Html.TextAreaFor(m => m.Body, new { @class = "form-group", id = "textarea" })

                @if (User.IsInRole("admin"))
                {
                    @Html.CheckBoxFor(m => m.IsFinished) @:Publish Blog
                }
                <br />
                <button type="submit" id="submit-button" class="btn btn-primary btn-sm">Submit</button>
                <button id="cancel-button" class="btn btn-primary btn-sm">Cancel</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10">
                <label for="file">Upload Image:</label>
                @Html.TextBoxFor(m => m.File, new { type = "file" })
            </div>
        </div>
    }
</div>